/*
<!-- The CASSMO game Website & Wiki -->
<!-- Created By Eric Mikulin-->
*/

/* http://www.color-hex.com/ */

@font-face {
    font-family: 'guardian'; /*a name to be used later*/
    src: url('../fonts/Guardians.ttf'); /*URL to font*/
}

body { 
	position: relative;
	background: url(../src/star.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4, p {
	text-align: center;
}

.title {
	color: #ffffff;
	font-family: 'guardian';
	font-size: 75px;
}

#trueNav {
	width: 1000px;
	height: 250px;
    border: 5px solid;
    border-color: #ffffff;

    background-color: rgba(0, 0, 0, .9);
    /*background: linear-gradient(to right, rgba(255,255,102,.9), rgba(0,0,0,.9)); /*Standard*/

    margin: 25px auto;

    position: relative;
}

.planet{
	border-radius: 50%;
	font-family: "guardian";
	display: inline-block;
	text-align: center;
}

a .planet{
	text-decoration: none;
}

#sun {
	width: 120px;
	height: 240px;
	border-radius: 0 120px 120px 0;
	position: absolute;
	border: 5px solid #CCCC51;
	border-left: 0;
	background-color: #FFFF66;
	color: #666628;
	transition: color 0.5s, box-shadow 1s;
}

#sun:hover {
	color: #000000;
	box-shadow: 20px 0 100px #FFFF66;
}

.sun {
	position: relative;
	top: 110px;
}

#mercury {
	width: 100px;
	height: 100px;
	position: absolute;
	border: 5px solid #7a5128;
	background-color: #996633;
	color: #3d2814;
	left: 140px;
	top: 125px;
	box-shadow: 0 0 0 #996633;
	transition: color 0.5s, top 0.5s,  box-shadow 0.5s;

}
#mercury:hover {
	color: #000000;
	top: 120px;
	box-shadow: 0 5px 0 #996633;
}

.mercury {
	position: relative;
	top: 40px;
}

#mercuryMoon {
	width: 54px;
	height: 54px;
	position: absolute;
	left: 210px;
	top: 50px;
	border: 5px solid #8e8e8e;
	background-color: #B2B2B2;
	color: #474747;
	box-shadow: 0 0 0 #B2B2B2;
	transition: color 0.5s, top 0.5s,  box-shadow 0.5s;
}

#mercuryMoon:hover {
	color: #000000;
	top: 45px;
	box-shadow: 0 5px 0 #B2B2B2;
}

.mercuryMoon {
	position: relative;
	top: 14px;
}

#ship {
	width: 200px;
	height: 40px;
	border-radius: 0 0 0 0;
	position: absolute;
	left: 500px;
	top: 175px;
	border: 5px solid #8e8e8e;
	background-color: #B2B2B2;
	color: #474747;
	box-shadow: 0 0 0 #B2B2B2;
	transition: color 0.5s, top 0.5s,  box-shadow 0.5s;
}

#ship:hover {
	color: #000000;
	top: 170px;
	box-shadow: 0 5px 0 #B2B2B2;
}

.ship {
	position: relative;
	top: 10px;
}

#venus {
	width: 90px;
	height: 90px;
	position: absolute;
	left: 400px;
	top: 75px;
	border: 5px solid #9a8269;
	background-color: #C1A384;
	color: #4d4134;
	box-shadow: 0 0 0 #C1A384;
	transition: color 0.5s, top 0.5s,  box-shadow 0.5s;
}

#venus:hover {
	color: #000000;
	top: 70px;
	box-shadow: 0 5px 0 #C1A384;

}

.venus {
	position: relative;
	top: 35px;
}

#probe {
	background: url(../src/probe.png) no-repeat center center;
	background-size: 60px 60px;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 550px;
	top: 35px;
	background-color: rgba(0,0,0,0);
	transition: color 0.5s;

}
#probe:hover {
	color: #ffffff;
}

.probe {
	position: relative;
	top: 30px;
}

#earth {
	width: 135px;
	height: 135px;
	position: absolute;
	left: 825px;
	top: 30px;
	border: 5px solid #1B465A;
	background-color: #0f9d11;
	color: #032704;
	box-shadow: 0 0 0 #0f9d11;
	transition: color 0.5s, top 0.5s,  box-shadow 0.5s;
}

#earth:hover {
	color: #000000;
	top: 25px;
	box-shadow: 0 5px 0 #0f9d11;
}

.earth {
	position: relative;
	top: 50px;
}

#earthMoon {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 725px;
	top: 100px;
	border: 5px solid #8e8e8e;
	background-color: #B2B2B2;
	color: #474747;
	box-shadow: 0 0 0 #B2B2B2;
	transition: color 0.5s, top 0.5s, box-shadow 0.5s;
}

#earthMoon:hover{
	color: #000000;
	top: 95px;
	box-shadow: 0 5px 0 #B2B2B2;
}

.earthMoon{
	position: relative;
	top: 15px;
}

.navbar	{
	width: 100px;
	margin: auto;
	margin-right: 0;
	margin-top: 10%;
	border-radius: 0;
}

.nav-pills li {
	padding: 4px;
	text-align: center;
	vertical-align: center;
}

.breadcrumb {
	width: 100%;
	margin: auto;
	border-radius: 0;
}

footer nav li{
	list-style-type: none;
	padding: 4px;
	margin: auto;
	text-align: center;
}

.body {
	width: 960px;
	/*height: 1000px;*/
    padding: 25px;
    border: 5px solid;
    border-color: #ffffff;

    background-color: rgba(255, 255, 255, .75);

    margin: 25px auto;
}

.body h3 {
	text-align: center;
	font-family: 'guardian';
	padding-bottom: 5px;
	border-bottom: 2px solid black;
}

iframe {
	display: block;
	margin: 20px auto;
	margin-top: 5px;
}

body { 
	padding-bottom: 70px; 
}

.section {
	height: 500px;
}

.section p {
	width: 750px;
	margin: 0px auto;
	font-size: 20px;
}

.section a {
	width: 750px;
	margin: 0px auto;
	font-size: 20px;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;

}

.section h4 {
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	padding-top: 10px;
}

.tutorial {
}

.pagination {	
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.pagination li a{
	position: relative;
	text-align: center;
	width: 20%;
}

.form-inline {
	float: right;
}

dd { 
    display: block;
    margin-left: 10px;
}
/*CSS ANIMATIONS*/