/*
<!-- The CASSMO game Website & Wiki -->
<!-- Created By Eric Mikulin-->
*/

@font-face {
    font-family: 'guardian'; /*a name to be used later*/
    src: url('../fonts/Guardians.ttf'); /*URL to font*/
}

body { 
  background: url(../src/star.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, p {
	text-align: center;
}

.title {
	color: #ffffff;
	font-family: 'guardian';
	font-size: 5em;
}

#trueNav {
	width: 1000px;
	height: 250px;
    border: 5px solid;
    border-color: #ffffff;

    background-color: rgba(0, 0, 0, .9);

    margin: 25px auto;

    position: relative;
}

.planet{
	border-radius: 50%;
	font-family: "guardian";
	display: inline-block;
	position: relative;
	text-align: center;
}

a .planet{
	text-decoration: none;
}

#sun {
	width: 120px;
	height: 240px;
	border-radius: 0 120px 120px 0;

	border: 5px solid #CCCC52;
	border-left: 0;
	background-color: #FFFF66;
	color: #4C331A;
}

.sun {
	position: relative;
	top: 110px;
}

#mercury {
	width: 100px;
	height: 100px;

	border: 5px solid #8A5C2E;
	background-color: #996633;
	color: #4C331A;

	top: 125px;
	/*transition: height 0.5s, width 1s, color 0.5s, top 1s;*/
}
/*
#mercury:hover {
	height: 110px;
	width: 110px;
	color: red;
	top: 110px
}*/


.mercury {
	position: relative;
	top: 40px;
}

#mercuryMoon {
	width: 50px;
	height: 50px;

	border: 5px solid #A0A0A0;
	background-color: #B2B2B2;
	color: #909090;
}

#venus {
	width: 75px;
	height: 75px;

	border: 5px solid #8A5C2E;
	background-color: #996633;
	color: #4C331A;
}

#earth {
	width: 125px;
	height: 125px;

	border: 5px solid #8A5C2E;
	background-color: #996633;
	color: #4C331A;
}

#earthMoon {
	width: 50px;
	height: 50px;

	border: 5px solid #A0A0A0;
	background-color: #B2B2B2;
	color: #909090;
}

.navbar	{
	width: 50%;
	min-width: 650px;
	margin: auto;
	border-radius: 0;
}

.nav-pills li {
	padding: 4px;
	width: 16.4%;
	text-align: center;
	vertical-align: center;
}

.breadcrumb {
	width: 99%;
	margin: auto;
	border-radius: 0;
}

footer nav li{
	list-style-type: none;
	padding: 4px;
	margin: auto;
	text-align: center;
}

#bodyPara {
	width: 960px;
	height: 1000px;
    padding: 25px;
    border: 5px solid;
    border-color: #ffffff;

    background-color: rgba(255, 255, 255, .75);

    margin: 25px auto;
}

#bodyPara h3 {
	text-align: left;
	padding-bottom: 1px;
	border-bottom: 1px solid black;
}