<div id="trueNav">
	<a href="#/home"><div id="sun" class="planet"><span class="sun">Home</span></div></a>
	<a href="#/about"><div id="mercury" class="planet"><span class="mercury">About</span></div></a>
	<a href="#/faq"><div id="mercuryMoon" class="planet"><span class="mercuryMoon">FAQ</span></div></a>
	<a href="#/docs"><div id="ship" class="planet"><span class="ship">Documentation</span></div></a>
	<a href="#/wiki"><div id="venus" class="planet"><span class="venus">Wiki</span></div></a>
	<a href="#/game"><div id="earth" class="planet"><span class="earth">Game</span></div></a>
	<a href="https://github.com/ErisMik/CassmoGame"><div id="earthMoon" class="planet"><span class="earthMoon">GIT</span></div></a>
</div>